{% extends "templates/base.html" %}
{% block content %}
        <div class="row">
          <div class="span8">
            <div id="Welcome">
              Every person you meet knows something that you don't.
              <a href="#" class="btn btn-primary btn-large">Get Started Now</a>

            </div>
          </div>
        </div>
      <div class="row videos">
        {% for video in videos %}
        <div class="span3">
          <a href="watch/{{video}}"><img src="http://img.youtube.com/vi/{{video}}/hqdefault.jpg"/></a>
        </div>
        {% endfor %}
      </div>
      </div>
{% endblock %}
