{% extends "templates/base.html" %}
{% block content %}
      <div class="hero-unit">
        <h1>"Every person you meet knows something that you don't."</h1>
        <p>Learn new things from our fun videos for free, and teach others through doodles.</p>
      </div>

      <div class="row videos">
        {% for video in videos %}
        <div class="span3">
          <a href="watch/{{ video.key.id() }}">
            {% if video.get_thumbnail_url() %}
            <img src="{{ video.get_thumbnail_url() }}"/>
            {% else %}
            <video class="thumbnail" src="{{ video.get_video_url() }}"/>
            {% endif %}
          </a>
        </div>
        {% endfor %}
      </div>
{% endblock %}
