{% extends "templates/base.html" %}
{% block content %}
       <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
            <label> Video Name:</label> <input type = "text" name = "name"> <br />
	    <label> Description</label> <textarea name = "description" rows="3"></textarea> <br />
	    <label> Category: </label> <select name = "category">
	    <option>English</option>
	    <option>Math</option>
	    <option>Science</option>
	    <option>History</option>
	    <option>Fun</option>
	    </select> <br />
	   	<label> Upload Video: </label>
	    <input type="file" accept="video/*;capture=camcorder" name="video">
        <br />
        <label> Upload Thumbnail: </label>
	    <input type="file" accept="image/*;capture=camera" name="thumbnail">
        <br />
        <input type="submit" name="submit" value="Submit">
        </form> 
{% endblock %}
