{% extends "templates/base.html" %}
{% block content %}
       <div class="row">
            <div class="title">Upload a Video</a></div>
       </div>
'
'       <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
        <div class="row">
        <label><div class="field">Video Name: </div></label> 
        <input type = "text" name = "name"> 
        </div> <br>
        <div class="row">
	    <label><div class="field">Description: </div></label> <textarea name = "description" rows="3"></textarea> 
        </div><br>
        <div class="row">
	    <label><div class="field"> Category: </div></label> <select name = "category">
	    <option>English</option>
	    <option>Math</option>
	    <option>Science</option>
	    <option>History</option>
	    <option>Fun</option>
	    </select>
        </div> <br />
	    <div class="row">

            <label><div class="field"> Upload File: </div></label>

            <span>
            <input type="file" 
            style="visibility:hidden; width: 1px;" 
            id='${multipartFilePath}' name="video"  
            onchange="$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))"  /> <!-- Chrome security returns 'C:\fakepath\'  -->
            <input class="btn btn-small" type="button" value="Upload Video.." name="video" onclick="$(this).parent().find('input[type=file]').click();" accept="video/*;capture=camcorder"/> <!-- on button click fire the file click event -->
            &nbsp;
            <span class="badge badge-important" ></span>
            </span>
        </div>
            
            <br>
        <div class="row">
            <label><div class="field"> Upload Thumbnail (optional): </div></label>

            <span>
            <input  type="file" 
            style="visibility:hidden; width: 1px;" 
            id='${multipartFilePath}' name="thumbnail"  
            onchange="$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))"  /> <!-- Chrome security returns 'C:\fakepath\'  -->
            <input class="btn btn-small" type="button" value="Upload Image.." name="thumbnail" onclick="$(this).parent().find('input[type=file]').click();" accept="image/*;capture=camera"/> <!-- on button click fire the file click event -->
            &nbsp;
            <span  class="badge badge-important" ></span>
            </span>

    </div>

            <br>
            <div class="row">

            <input type="submit" name="submit" class="btn btn-primary btn-large" value="    Submit    "/>
        </div>
        </div>
        </form> 
{% endblock %}
