{% extends "templates/base.html" %}

{% block content %}
<style>body { background-color: #070707; }</style>
<div class="row">
  <div class="span9">
    <video src="{{ video.url }}" id="video" controls autoplay>
    Your browser does not support the <code>video</code> element.
    </video>
  </div>
  <div class="others span3">
      {% if users.get_current_user() %}
          {% set username = users.get_current_user() %}
      {% else %}
          {% set username = "Anon" %}
      {% endif %}
    <div class="controls" id="tags-app" data-user="{{username}}" data-video="{{video.id}}">
        <div class="btn btn-warning span2" id="tag-confused">I'm confused!</div><br>
        <div class="btn btn-success span2" id="tag-curious">I'm curious!</div><br>
        <div class="btn btn-btn-primary span2" id="tag-practice">I want an example!</div>
    </div>
    <div class="related-videos">
    </div>
  </div>
</div>
<script>
// <![CDATA[

// ]]>
</script>
{% endblock %}
